@charset "utf-8";
/* CSS Document */
body{ font-family:"Microsoft YaHei UI"; padding:30px}
.wrap{ width:auto; margin:0 auto}
h2{ color:#1f497d; text-align:center}
p{ font-size:14px}
table.orange{ background:#ed7d31}
table{ border-collapse:collapse}
th{background:#d0cece; font-size:14px; padding:10px 10px;}
td{background:#deeaf6; font-size:14px; padding:10px 10px}
ul{ list-style:none;}
p.list{ background:url(../images/list_bg.png) no-repeat left center; padding-left:20px}
td.title{ background:none; padding:20px; font-size:18px; text-align:center; font-weight:bold}
.index_a{ margin:0 auto; }
.index_a img{ display:block; margin:0 auto;}
.index_a span{ display:block; float:left; width:100px ; height:36px; margin-left:20px}

.index_a ul{ width:300px; margin:100px auto 0 auto;}
.index_a li{ display:block; height:36px;}


.index_b{ margin:0 auto; }
.index_b img{ display:block; margin:0 auto;}
.index_b span{ display:block; width:420px ; height:36px; text-align:center; font-size:24px}
.class_tx{ width:100px; text-align:center}
.index_b ul{ width:430px; margin:100px auto 0 auto;}
.index_b li{ display:block; height:36px;}

.table_a1{ margin:0 auto;}
.table_a1 td{ background:#fff;}

.table_a2 td{ text-align:center}

.table_a3_p{ width:400px; margin:0 auto;}
.table_a3 img{ margin:0 auto; display:block }

.class_tx{ width:100px; text-align:right; line-height:46px; margin-bottom:10px;}
.bor_bottom{width:50% !important; border-bottom:1px solid #333; line-height:46px; margin-bottom:10px;}
